#title{
    font-size: 50px;
    color: silver;
    left: 35%;
    font-family: Courier, Monaco, monospace;
}

#background{
    background: black;
}

#city{
    color: silver;
    font-size: 35px;
    text-align: center;
    line-height: 4em;
    left: 30%;
}

#convertTemperature{
    color: silver;
    text-align: center;
    font-size: 35px;
    line-height: 1em;
    left: 30%;
}

#icon{
    text-align: center;
    font-size: 35px;
    line-height: 1em;
    left: 30%;
    top:35%;
    float: left;
}

#weatherType{
    color: dodgerblue;
    text-align: center;
    font-size: 35px;
    line-height: 1em;
    margin-left: 2%;
}